/* #region common  */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    /* site colors  */
    --zf-cta: #ff9614;
    --zf-main: #f6f5f3;
    --zf-lighter: white;
    --zf-title: #4e3969;
    --zf-footer: #7c69a4;
    --zf-light-text: rgb(106, 106, 106);
    --zf-dark: black;

    /* social colors  */
    --zf-facebook: #1a77f3;
    --zf-twitter: #009eff;
    --zf-instagram: #e36594;
    --zf-pinterest: #e72828;
    --zf-youtube: #e62222;
}

.debug {
    * {
        border: 1px dashed black;
    }
}

.btn-white{
    background-color: var(--zf-lighter);
    padding: 0.2rem 0.2rem;
    text-align: center;
    box-shadow: 0 0 2px black;
    border-radius: 1rem;
    line-height: 50%;
    transition-duration: 0.5s;
    a{
        text-decoration: none;
    }
    .btn-text{
        display: none;
        font-size: 0.5rem;
        color: var(--zf-dark);
        margin-left: 0.2rem;
        line-height: 50%;
        vertical-align: middle;
    }
    &:hover{
        box-shadow: none;
    }
}

.section-size {
    width: 95%;
    margin: auto;
}

.tx-montserrat {
    font-family: "Montserrat", 'Helvetica Neue', serif;
    font-optical-sizing: auto;
}

.tx-nerko {
    font-family: "Nerko One", serif;
    font-weight: 400;
    font-style: normal;
}

.d-flex {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

hr{
    border: 1px solid var(--zf-cta);
    width: 15%;
    margin: 1rem 0;
}

/* #region col  */
.row {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -1rem;
}

[class^="col"] {
    padding: 1rem;
}

.col {
    width: auto;
    flex-basis: auto;
}

.col-1-mobile {
    width: calc(100% / 12 * 1);
}

.col-2-mobile {
    width: calc(100% / 12 * 2);
}

.col-3-mobile {
    width: calc(100% / 12 * 3);
}

.col-4-mobile {
    width: calc(100% / 12 * 4);
}

.col-5-mobile {
    width: calc(100% / 12 * 5);
}

.col-6-mobile {
    width: calc(100% / 12 * 6);
}

.col-7-mobile {
    width: calc(100% / 12 * 7);
}

.col-8-mobile {
    width: calc(100% / 12 * 8);
}

.col-9-mobile {
    width: calc(100% / 12 * 9);
}

.col-10-mobile {
    width: calc(100% / 12 * 10);
}

.col-11-mobile {
    width: calc(100% / 12 *11);
}

.col-12-mobile {
    width: calc(100% / 12 * 12);
}

/* #endregion col  */


/* #endregion common  */

/* header  */
#site-header {
    text-align: center;
    padding: 0.5rem;
    color: var(--zf-cta);

    h1 {
        text-shadow: 0 0 2px rgba(0, 0, 0, 0.511);
    }
}

/* main  */
#site-main {
    background-color: var(--zf-main);

    & span:nth-child(1) {
        font-size: 0.5rem;
        color: var(--zf-light-text);
    }

    h2 {
        color: var(--zf-title);
    }

    & h2:nth-child(3) {
        display: none;
    }

    .video-container {
        background-color: var(--zf-lighter);
        box-shadow: 0 0 5px black;
    }

    h3 {
        margin-bottom: 1rem;
    }

    ul {
        list-style: none;
        font-size: 0.8rem;

        li {
            margin-bottom: 0.5rem;
        }
    }

    .yt-content {
        padding: 1.2rem;
    }

    img {
        max-width: 100%;
    }
    .bottom-banner{
        width: 100%;
    }
}

.banner{
    display: none;
}

.social-icons{
    & li:nth-child(1) i{
        color: var(--zf-facebook);
    }
    & li:nth-child(2) i{
        color: var(--zf-twitter);
    }
    & li:nth-child(3) i{
        color: var(--zf-instagram);
    }
    & li:nth-child(4) i{
        color: var(--zf-pinterest);
    }
    & li:nth-child(5) i{
        color: var(--zf-youtube);
    }
}

.tiramisu-img{
    width: 60%;
    margin: auto;
    margin-bottom: 1rem;
    img{
        box-shadow: 0 0 2px black;
    }
}

/* footer  */
#site-footer{
    margin-top: 2rem;
    padding: 1rem 0;
    background-color: var(--zf-footer);
    color: var(--zf-lighter);
    text-align: center;
    font-size: 0.7rem;
    p{
        font-size: 0.6rem;
    }
}

.lf{
    margin-bottom: 0.5rem;
    h4{
        margin-bottom: 0.5rem;
    }
}

.rf{
    ul{
        list-style: none;
        justify-content: center;
        li{
            margin-right: 0.7rem;
            margin-bottom: 0.5rem;
        }
        a{
            text-decoration: none;
            color: var(--zf-lighter);
            font-weight: 100;
            &:hover{
                color: var(--zf-cta);
            }
        }
    }
}

.ft-container{
    width: 70%;
    margin: auto;
}


/* #region media queries  */
@media screen and (min-width: 768px) {
    .section-size {
        width: 90%;
        margin: auto;
    }

    .tiramisu-img{
        float: left;
        width: 30%;
        margin-right: 1rem;
    }

    .banner{
        display: inline-block;
    }

    .btn-white{
        width: 18%;
        padding: 0.5rem 0;
    }

    .d-flex-tablet{
        display: flex;
        flex-wrap: wrap;
        gap: 1rem 4rem;
    }

    #site-header {
        text-align: left;
    }

    #site-main {
        & span:nth-child(1) {
            display: block;
        }

        h2 {
            display: inline-block;
        }

        & h2:nth-child(3) {
            display: inline-block;
        }
    }

    /* #region col tablet */
    .row-tablet {
        display: flex;
        flex-wrap: wrap;
        margin: 0 -1rem;
    }

    .col-tablet {
        width: auto;
        flex-basis: auto;
    }

    .col-1-tablet {
        width: calc(100% / 12 * 1);
    }

    .col-2-tablet {
        width: calc(100% / 12 * 2);
    }

    .col-3-tablet {
        width: calc(100% / 12 * 3);
    }

    .col-4-tablet {
        width: calc(100% / 12 * 4);
    }

    .col-5-tablet {
        width: calc(100% / 12 * 5);
    }

    .col-6-tablet {
        width: calc(100% / 12 * 6);
    }

    .col-7-tablet {
        width: calc(100% / 12 * 7);
    }

    .col-8-tablet {
        width: calc(100% / 12 * 8);
    }

    .col-9-tablet {
        width: calc(100% / 12 * 9);
    }

    .col-10-tablet {
        width: calc(100% / 12 * 10);
    }

    .col-11-tablet {
        width: calc(100% / 12 *11);
    }

    .col-12-tablet {
        width: calc(100% / 12 * 12);
    }

    /* #endregion col tablet  */
}

@media screen and (min-width: 992px) {
    .section-size {
        width: 80%;
        margin: auto;
    }

    .btn-white .btn-text{
        display: inline-block;
    }

    .d-flex-desktop{
        text-align: left;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .ft-container{
        width: 100%;
        padding: 0 1rem;
    }

    /* #region col desktop */
    .row-desktop {
        display: flex;
        flex-wrap: wrap;
    }

    .col-desktop {
        width: auto;
        flex-basis: auto;
    }

    .col-1-desktop {
        width: calc(100% / 12 * 1);
    }

    .col-2-desktop {
        width: calc(100% / 12 * 2);
    }

    .col-3-desktop {
        width: calc(100% / 12 * 3);
    }

    .col-4-desktop {
        width: calc(100% / 12 * 4);
    }

    .col-5-desktop {
        width: calc(100% / 12 * 5);
    }

    .col-6-desktop {
        width: calc(100% / 12 * 6);
    }

    .col-7-desktop {
        width: calc(100% / 12 * 7);
    }

    .col-8-desktop {
        width: calc(100% / 12 * 8);
    }

    .col-9-desktop {
        width: calc(100% / 12 * 9);
    }

    .col-10-desktop {
        width: calc(100% / 12 * 10);
    }

    .col-11-desktop {
        width: calc(100% / 12 *11);
    }

    .col-12-desktop {
        width: calc(100% / 12 * 12);
    }

    /* #endregion col desktop */
}