/* #region common  */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    /* site colors  */
    --zf-cta: #ff9614;
    --zf-main: #f6f5f3;
    --zf-lighter: white;
    --zf-title: #4e3969;
    --zf-footer: #7c69a4;
    --zf-light-text: rgb(106, 106, 106);

    /* social colors  */
    --zf-facebook: #1a77f3;
    --zf-twitter: #009eff;
    --zf-instagram: #e36594;
    --zf-pinterest: #e72828;
    --zf-youtube: #e62222;
}

.debug{
    *{
        border: 1px dashed black;
    }
}

.section-size-mb{
    width: 95%;
    margin: auto;
}

.tx-montserrat {
    font-family: "Montserrat", 'Helvetica Neue', serif;
    font-optical-sizing: auto;
}

.tx-nerko{
    font-family: "Nerko One", serif;
    font-weight: 400;
    font-style: normal;
}

.d-flex {
    display: flex;
}

/* #region col  */
.row {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -1rem;
}

[class^="col"] {
    padding: 1rem;
}

.col {
    width: auto;
    flex-basis: auto;
}

.col-5 {
    width: 20%;
}

/* #endregion col  */


/* #endregion common  */

/* header  */
#site-header{
    text-align: center;
    color: var(--zf-cta);
    h1{
        text-shadow: 0 0 2px rgba(0, 0, 0, 0.511);
    }
}

/* main  */
#site-main{
    background-color: var(--zf-main);
    & span:nth-child(1){
        font-size: 0.5rem;
        color: var(--zf-light-text);
    }
    h2{
        color: var(--zf-title);
    }
    .video-container{
        background-color: var(--zf-lighter);
    }
    h3{
        margin-bottom: 1rem;
    }
    ul{
        list-style: none;
        font-size: 0.8rem;
        li{
            margin-bottom: 0.5rem;
        }
    }
    .yt-content{
        padding: 1.2rem;
    }
    img{
        max-width: 100%;
    }
}


/* #region media queries  */
@media screen and (min-width: 768px){
    #site-header{
        text-align: left;
    }
}